@import url("https://fonts.googleapis.com/css?family=Creepster|Ewert&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.main-header {
  width: 100%;
  padding: 1em 1.5em;
  background: rgb(1, 33, 90);
  position: fixed;
  top: 0;
  left: 0;
  /* position: sticky; */
}
.main-header > div {
  display: inline-block;
}
.main-header__home {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 84px);
  vertical-align: middle;
}
.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
  padding: 0 1em;
}

.main-nav__item a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 50px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  font-family: "Creepster", cursive;
  margin: 0 auto;
  font-size: 1.2em;
}
.main-header__home:hover,
.main-header__home:active {
  font-family: "Creepster", cursive;
  padding: inherit;
  font-size: 1.2em;
}
.main-footer {
  display: inline-block;
  margin: 0;
  background-color: turquoise;
  text-align: center;
  width: 100%;
}

.main-footer__img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}
.main-footer__links {
  padding: 1.5em 0;
  color: rgb(1, 33, 90);
  font-size: 1.5em;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin {
  width: 100px;
  color: rgb(1, 33, 90);
}
