#work-highlight {
  background: url("./images/photo-of-person-typing-on-computer-keyboard-735911.jpg")
    center/cover no-repeat;
  height: 578px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
}
.work-highlight__title {
  padding-top: 20%;
}
#works {
  background: rgb(1, 33, 90);
  display: inline-block;
}

.work {
  display: inline-block;
  width: 30%;
  text-align: center;
  color: wheat;
  font-size: 1.5em;
  vertical-align: middle;
  padding: 1em;
  margin: 0.5em;
  background: lightseagreen;
  border-radius: 25px;
}
.work-title {
  font-size: 2em;
  text-shadow: 2px 2px black;
}
.work-title__subtitle {
  text-shadow: 1px 1px black;
}

.work-tools {
  list-style: none;
  text-shadow: 1px 1px black;
}

.estore-img,
.port-img,
.travel-img {
  width: 70%;
}
a.work-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background: rgb(1, 33, 90);
  border: 3px solid rgb(1, 33, 90);
  border-radius: 15px;
}
a.work-link:hover {
  color: rgb(1, 33, 90);
  background: white;
  border: 3px solid white;
}
