main {
  padding-top: 64px;
  background: url("../images/blur-close-up-code-computer-546819.jpg")
    center/cover;
}
.work-detail__img {
  width: 30%;
}
.work-detail {
  text-decoration: none;
  color: grey;
}

.work-details {
  width: 70%;
  margin: 1em 0;
  border: 4px solid rgba(2, 0, 36, 1);
  border-left: none;
  letter-spacing: 2px;
  display: block;
  padding: 2em;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 118, 121, 0.4374124649859944) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#react {
  float: right;
  border-left: 4px solid black;
  border-right: none;
  text-align: right;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    -90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 118, 121, 0.4374124649859944) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.work-detail__title {
  font-weight: bold;
  text-shadow: 1px 1px white;
}

.clearfix {
  clear: both;
}

.work-detail__desc {
  color: white;
  text-shadow: 1px 1px black;
  /* text-align: justify; */
}
